@import url(./style.css);

/* Details Section */
.section-country-details {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.go-back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 13.6rem;
  height: 4rem;
  font-size: 1.6rem;
  line-height: 2rem;
  background-color: var(--main-el-bg-color);
  border-radius: 6px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
}

.go-back-btn svg path {
  fill: var(--main-text-color);
}

.country-details-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.country-details__img-wrap {
  max-width: 56rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.country-details__img {
  width: 100%;
}

/* Country's detailed description */
.country-details__desc-wrap {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.country-details__desc__title {
  font-size: 3.2rem;
  font-weight: 800;
}

.country-details__desc {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.details__desc__main {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.details__desc__border-countries-wrap {
  display: flex;
  gap: 1.6rem;
}

.border-countries__title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  flex-shrink: 0;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.border-country {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.6rem;
  height: 2.8rem;
  background-color: var(--main-el-bg-color);
  border-radius: 2px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}
