/* Media Queries For Responsive Design */
/* Less or equal to 1024px */
@media screen and (width<= 64em) {
  .content-wrap {
    padding: 4rem 6rem;
  }

  .header__wrap {
    padding: 0 6rem;
  }

  /* Details Page */
  .country-details-wrap {
    flex-direction: column;
  }

  .country-details__img-wrap {
    max-width: 50rem;
    gap: 3rem;
  }
}

/* Less or equal to 768px */
@media screen and (width<= 48em) {
  .content-wrap {
    padding: 4rem 4rem;
  }

  .header__wrap {
    padding: 0 4rem;
  }

  .header__main-title {
    font-size: 1.8rem;
  }

  .btn__icon-wrap svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  .section-find-country {
    gap: 5rem;
  }

  .search-input {
    height: 4.8rem;
  }

  .filter-dropdown__btn {
    height: 4.8rem;
  }

  .content-inner {
    gap: 4rem;
  }

  .color-switcher-btn {
    font-size: 1.4rem;
  }

  /* Details Page */
  .go-back-btn {
    font-size: 1.4rem;
  }

  .section-country-details {
    gap: 6.4rem;
  }

  .country-details__desc__title {
    font-size: 2.6rem;
  }

  .country-details-wrap {
    gap: 8rem;
  }
}

/* Less or equal to 640px */
@media screen and (width <= 40em) {
  .section-find-country {
    flex-direction: column;
  }
}

/* Less or equal to 480px */
@media screen and (width<= 30em) {
  body {
    font-size: 1.2rem;
  }

  .content-wrap {
    padding: 2rem;
  }

  .header__wrap {
    padding: 0 2rem;
  }

  .header__main-title {
    font-size: 1.4rem;
  }

  .color-switcher-btn {
    font-size: 1.2rem;
  }

  .section-find-country {
    gap: 4rem;
  }

  .search-input::placeholder {
    font-size: 1.2rem;
  }

  .filter-dropdown__btn {
    font-size: 1.2rem;
  }

  .filter-dropdown__option {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  /* Details Page */
  .country-details-wrap {
    gap: 5rem;
  }

  .country-details__desc__title {
    font-size: 2.2rem;
  }

  .details__desc__main {
    font-size: 1.4rem;
  }

  .country-details__img-wrap {
    max-width: 32rem;
  }

  .details__desc__border-countries-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}
