/* ================== GENERAL CSS ================== */
:root {
  --main-bg-color: #fafafa;
  --main-el-bg-color: #fff;
  --main-text-color: #111517;
  --input-text-color: #848484;
}

.darkmode {
  --main-bg-color: #202c36;
  --main-el-bg-color: #2b3844;
  --main-text-color: #fff;
  --input-text-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: var(--main-text-color);
}

.content-wrap {
  max-width: 144rem;
  margin: 0 auto;
  padding: 4rem 8rem;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.content-inner {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* ================== MAIN SECTION ================== */
/* Header Section */
.header {
  background-color: var(--main-el-bg-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 8rem;
  height: 8rem;
}

.header__main-title {
  font-weight: 800;
  font-size: 2.4rem;
}

.color-switcher-btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.btn__icon-wrap {
  display: flex;
}

.color-switcher-btn svg path {
  fill: var(--main-text-color);
}

.btn__icon-wrap svg:last-child {
  display: none;
}

.darkmode .btn__icon-wrap svg:first-child {
  display: none;
}

.darkmode .btn__icon-wrap svg:last-child {
  display: flex;
}

.btn__text-wrap .btn__text:last-child {
  display: none;
}

.darkmode .btn__text-wrap .btn__text:last-child {
  display: flex;
}

.darkmode .btn__text-wrap .btn__text:first-child {
  display: none;
}

/* Find country Section */
.section-find-country {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  margin-top: 8rem;
}

.search-input {
  flex-shrink: 1;
  max-width: 48rem;
  height: 5.6rem;
  width: 100%;
  padding: 0 2.4rem 0 5rem;
  border: none;
  color: var(--input-text-color);
  background-color: var(--main-el-bg-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  background-image: url(../icons/search.svg);
  background-repeat: no-repeat;
  background-position: 2rem;
}

.darkmode .search-input {
  background-image: url(../icons/search-light.svg);
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: var(--input-text-color);
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
}

/* Filter dropdown list */
.filter-dropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.filter-dropdown__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  gap: 3rem;
  width: 20rem;
  height: 5.6rem;
  color: var(--main-text-color);
  background-color: var(--main-el-bg-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.filter-dropdown__btn path {
  fill: var(--main-text-color);
}

.filter-dropdown__options {
  position: absolute;
  top: 7rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 20rem;
  padding: 1.6rem 2.4rem;
  background-color: var(--main-el-bg-color);
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.filter-dropdown__option {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

/* Country cards Section */
.section-country-cards {
  display: flex;
  justify-content: center;
  gap: 6rem;
  flex-wrap: wrap;
}

.country-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 26.4rem;
  background-color: var(--main-el-bg-color);
  color: var(--main-text-color);
  border-radius: 5px;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
}

.country-card__img-wrap {
  height: 17rem;
  overflow: hidden;
}

.country-card__img {
  object-fit: cover;
  height: 100%;
}

.country-card__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 0 0rem 4.6rem 2.4rem;
}

.country-card__header {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 2.6rem;
}

.country-card__details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: inherit;
  line-height: 1.6rem;
}

/* ================== Classes for JS ================== */

.hidden {
  display: none;
}
